@use '/src/styles/constants/colors';

.sliderBox {
  display: block;
  width: 100%;
}

.tapContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tapLi {
  box-sizing: border-box;
  width: 33%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  list-style: none;
  cursor: pointer;
  user-select: none;
  border-width: 0;
}
